@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.topleft{
  padding-left: 6%;;
}
.sideimg{
  width: 100%!important;
}
.simgdiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sothis{
  padding: 100px 0;
  background-image: url('./components/files/drone3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -200px;
  height: 100vh;
  background-attachment: fixed;
}

#transs2{
  background: transparent !important;
  border: none;
 
}
.lia{
  transition: all 0.5s ease;
}
.text-black{
  color: rgb(23, 23, 23)!important;
}







@media (max-width:600px){
  .topleft{
    padding: 0;
  }
  /* .sideimg{
    width: 22rem;
  } */
}